.fixed-content
  section.company.company--top
    .row
      .col-md-3.col-sm-3.col-xs-12
        .company__title
          h1 Компания
      .col-md-9.col-sm-9.col-xs-12
        .company__title
          h4 Компания City&Malls PFM ориентируется на принципы оперативности, качества и
            | эффективности. Преимущества работы с City&Malls PFM базируются в первую очередь на
            | ценностях компании, приоритетные из которых – безупречная репутация, многолетний опыт и
            | высокий уровень профессионализма сотрудников компании.
        .data-info
          .row
            .col-md-6.col-sm-6.col-xs-12
              .data-info__body
                h1
                  span.spincrement(data-to='10', data-speed='1500') лет
                h4 на рынке
                p Сity&Malls PFM – профессиональная управляющая компания на рынке коммерческой недвижимости Москвы
              .data-info__body
                h1
                  span.spincrement(data-to='3000', data-speed='1500')
                h4 арендаторов доверяют нам
                p Сity&Malls PFM – формирует эффективное пространство для развития вашего бизнеса
            .col-md-6.col-sm-6.col-xs-12
              .data-info__body
                h1
                  span.spincrement(data-to='500000', data-speed='1500') м
                  sup 2
                h4 в портфеле объектов
                p Компетенция компании – коммерческое управление и комплексная эксплуатация офисных зданий, бизнес-парков, торговых центров
              .data-info__body
                h1
                  span.spincrement(data-to='450', data-speed='1500')
                h4 специалистов в штате
                p Сity&Malls PFM – ваш партнер в развитии проектов
        .clients-feedback
          .row
            .col-md-12
              h4 Доверяя управление коммерческими объектами компании City&Malls PFM, наши клиенты получают:
              .icons.wow.fadeInUp
                i
                  img(src='img/full-compl.png', alt='')
                .icons__info
                  h3 Полный комплекс услуг
                  p по управлению и эксплуатации объекта
              .icons.wow.fadeInUp(data-wow-delay='0.5s')
                i.icon-money
                .icons__info
                  h3 Увеличение доходности
                  p и инвестиционной привлекательности объекта
              .icons.wow.fadeInUp(data-wow-delay='0.5s')
                i.icon-shema
                .icons__info
                  h3 Эффективную систему
                  p управления объектом

  section.company
    .row
      .col-md-3.col-sm-3.col-xs-12
        .company__title
          h1 История компании
      .col-md-9.col-sm-9.col-xs-12
        .company__title
          ul.timeline
            li.data-info.wow.fadeIn
              .timeline-badge 2017
              .timeline-panel
                .row
                  .col-md-8.col-lg-8
                    .barWrapper
                      span.progressText
                        span.spincrement(data-to='16', data-speed='1500')
                        |  объектов в управлении
                      .progress
                        .progress-bar(role='progressbar', aria-valuenow='35', aria-valuemin='0', aria-valuemax='100')
                    .barWrapper
                      span.progressText
                        span.spincrement(data-to='530500', data-speed='1500')
                        span
                          | м
                          sup 2
                        |  общая площадь объектов
                      .progress
                        .progress-bar(role='progressbar', aria-valuenow='100', aria-valuemin='0', aria-valuemax='100')
                    .barWrapper
                      span.progressText
                        span.spincrement(data-to='450', data-speed='1500')
                        |  сотрудников
                      .progress
                        .progress-bar(role='progressbar', aria-valuenow='80', aria-valuemin='0', aria-valuemax='100')
                    .barWrapper
                      span.progressText
                        span.spincrement(data-to='3000', data-speed='1500')
                        |  арендаторов
                      .progress
                        .progress-bar(role='progressbar', aria-valuenow='60', aria-valuemin='0', aria-valuemax='100')
            li.wow.fadeIn
              .timeline-badge 2010
              .timeline-panel
                .row
                  .col-md-8.col-lg-8
                    .barWrapper
                      img(src='img/svg/logo-active.svg', alt='')
            li.start.wow.fadeIn
              .timeline-badge 2007
              .timeline-panel
                .row
                  .col-md-8.col-lg-8
                    .barWrapper
                      span.progressText
                        span.spincrement(data-to='1', data-speed='1500')
                        |  объектов в управлении
                      .progress
                        .progress-bar(role='progressbar', aria-valuenow='5', aria-valuemin='0', aria-valuemax='100')
                    .barWrapper
                      span.progressText
                        span.spincrement(data-to='53000', data-speed='1500')
                        span
                          | м
                          sup 2
                        |  общая площадь объектов
                      .progress
                        .progress-bar(role='progressbar', aria-valuenow='20', aria-valuemin='0', aria-valuemax='100')
                    .barWrapper
                      span.progressText
                        span.spincrement(data-to='120', data-speed='1500')
                        |  сотрудников
                      .progress
                        .progress-bar(role='progressbar', aria-valuenow='35', aria-valuemin='0', aria-valuemax='100')
                    .barWrapper
                      span.progressText
                        span.spincrement(data-to='1000', data-speed='1500')
                        |  арендаторов
                      .progress
                        .progress-bar(role='progressbar', aria-valuenow='25', aria-valuemin='0', aria-valuemax='100')

  section.portfolio-object
    .row
      .col-md-3.col-sm-3.col-xs-12
        .company__title
          h1 Портфель объектов
      .col-md-9.col-sm-9.col-xs-12
        .row
          .col-md-6.col-sm-6.col-xs-12
            .portfolio-object__info
              h2 Офисные
              ul.bordered.wow.fadeInUp
                li.active
                  a(href='#')
                    span.square 11 га
                    span В составе Делового квартала «Симоновский»
                li
                  a(href='#')
                    span.square 65 000 м
                      sup 2
                    span БЦ Симонов Плаза
                li
                  a(href='#')
                    span.square 43 500
                      sup 2
                    span БЦ Омега-2
                li
                  a(href='#')
                    span.square 12 500
                      sup 2
                    span БЦ Слободской
                li
                  a(href='#')
                    span.square 2500
                      sup 2
                    span Лофт 2210
                li
                  a(href='#')
                    span.square 1330
                      sup 2
                    span Лофт #2
                li
                  a(href='#')
                    span.square 1100
                      sup 2
                    span Деловой Дом Лизинский
                li
                  a(href='#')
                    span.square 2600
                      sup 2
                    span Деловой дом Омега
              ul.wow.fadeInUp
                li
                  a(href='#')
                    span.square 20 000 м
                      sup 2
                    span БЦ «Каланчевская плаза»
                li
                  a(href='#')
                    span.square 15 300
                      sup 2
                    span БЦ «Барклай Парк»
                li
                  a(href='#')
                    span.square 40 000
                      sup 2
                    span БП «Союз»
                li
                  a(href='#')
                    span.square 82 000
                      sup 2
                    span МФК «Бадаевский»
                li
                  a(href='#')
                    span.square 56 500
                      sup 2
                    span СО «Заречье»
          .col-md-6.col-sm-6.col-xs-12
            .portfolio-object__info
              h2 Торговые
              ul.wow.fadeInUp
                li
                  a(href='#')
                    span.square 53 000 м
                      sup 2
                    span Центр дизайна и интерьера «ЭКСПОСТРОЙ на Нахимовском»
                li
                  a(href='#')
                    span.square 86 000
                      sup 2
                    span МЦ ROOMER
                li
                  a(href='#')
                    span.square 16 500
                      sup 2
                    span ТЦ «Оранжпарк»
                li
                  a(href='#')
                    span.square 8000
                      sup 2
                    span Торговые площади формата «Street retail»
                li
                  a(href='#')
                    span.square 2300
                      sup 2
                    span ROOMER ДИСКОНТ
                li
                  a(href='#')
                    span.square 21 500
                      sup 2
                    span Центр современного искусства «ВИНЗАВОД»
