.fixed-content
  section.portfolio-object
    .row
      .col-md-3.col-sm-3.col-xs-12
        .company__title
          h1 Контакты
      .col-md-9.col-sm-9.col-xs-12
        .contatcs-info
          .contatc-item
            h5 Офис
            ul
              li
                a(href='tel:74958033338') +7 (495) 803 33 38
              li
                a(href='mailto:info@cmpfm.ru') info@cmpfm.ru
          .contatc-item
            h5 Отдел аренды
            ul
              li
                a(href='tel:74954800966') +7 (495) 480 09 66
              li
                a(href='mailto:arenda@cmpfm.ru') arenda@cmpfm.ru
          .contatc-item
            h5 Клиентская служба для арендаторов
            ul
              li
                a(href='tel:74958033303') +7 (495) 803 33 03
        .company__title
          h4 115280, г. Москва, ул. Ленинская Слобода, д.26, стр.2, 3 этаж
          .download-links
            a(href='#') Проложить маршрут
            a(href='#') Скачать схему проезда
    .row
      .col-md-3.col-sm-3.col-xs-12
        .company__title
          h1 Контакты
      .col-md-9.col-sm-9.col-xs-12
        .contatcs-info
          .contatc-item
            h5 Офис
            ul
              li
                a(href='tel:74958033338') +7 (495) 803 33 38
              li
                a(href='mailto:info@cmpfm.ru') info@cmpfm.ru
          .contatc-item
            h5 Отдел аренды
            ul
              li
                a(href='tel:74954800966') +7 (495) 480 09 66
              li
                a(href='mailto:arenda@cmpfm.ru') arenda@cmpfm.ru
          .contatc-item
            h5 Клиентская служба для арендаторов
            ul
              li
                a(href='tel:74958033303') +7 (495) 803 33 03
        .company__title
          h4 115280, г. Москва, ул. Ленинская Слобода, д.26, стр.2, 3 этаж
          .download-links
            a(href='#') Проложить маршрут
            a(href='#') Скачать схему проезда
        .data-info
          .row
            .col-md-6.col-sm-6.col-xs-12
              .data-info__body
                h1
                  span.spincrement(data-to='10', data-speed='1500') лет
                h4 на рынке
                p Сity&Malls PFM – профессиональная управляющая компания на рынке коммерческой недвижимости Москвы
              .data-info__body
                h1
                  span.spincrement(data-to='3000', data-speed='1500')
                h4 арендаторов доверяют нам
                p Сity&Malls PFM – формирует эффективное пространство для развития вашего бизнеса
            .col-md-6.col-sm-6.col-xs-12
              .data-info__body
                h1
                  span.spincrement(data-to='500000', data-speed='1500') м
                  sup 2
                h4 в портфеле объектов
                p Компетенция компании – коммерческое управление и комплексная эксплуатация офисных зданий, бизнес-парков, торговых центров
              .data-info__body
                h1
                  span.spincrement(data-to='450', data-speed='1500')
                h4 специалистов в штате
                p Сity&Malls PFM – ваш партнер в развитии проектов
        .clients-feedback
          .row
            .col-md-12
              h4 Доверяя управление коммерческими объектами компании City&Malls PFM, наши клиенты получают:
              .icons.wow.fadeInUp
                i
                  img(src='img/full-compl.png', alt='')
                .icons__info
                  h3 Полный комплекс услуг
                  p по управлению и эксплуатации объекта
              .icons.wow.fadeInUp(data-wow-delay='0.5s')
                i.icon-money
                .icons__info
                  h3 Увеличение доходности
                  p и инвестиционной привлекательности объекта
              .icons.wow.fadeInUp(data-wow-delay='0.5s')
                i.icon-shema
                .icons__info
                  h3 Эффективную систему
                  p управления объектом
