// discounts
section.discounts
  .row
    .col-lg-12
      .slider.discounts-for
        div
          .row
            .col-lg-5.col-md-5.col-sm-12.col-xs-12
              .discounts__info
                h4 Спецпредложения
                h2 Скидка до 25% Омега 2 корпус С
                h5 на офисы 48-50 м2
                p
                  | Современный офисный комплекс класса B+ на территории Делового квартала
                  | «Симоновский»,
                  | расположенный в пределах Третьего транспортного кольца, в шаговой доступности от
                  | станции метро «Автозаводская».
                a.all-propose(href='#') Все спецпредложения
            .col-lg-7.col-md-7.hidden-sm.hidden-xs
              .discounts-for__bg(style="background-image:url('./img/photo-4.jpg');")
        div
          .row
            .col-lg-5.col-md-5.col-sm-12.col-xs-12
              .discounts__info
                h4 Спецпредложения
                h2 Скидка до 25% Омега 2 корпус С
                h5 на офисы 48-50 м2
                p
                  | Современный офисный комплекс класса B+ на территории Делового квартала
                  | «Симоновский»,
                  | расположенный в пределах Третьего транспортного кольца, в шаговой доступности от
                  | станции метро «Автозаводская».
                a.all-propose(href='#') Все спецпредложения
            .col-lg-7.col-md-7.hidden-sm.hidden-xs
              .discounts-for__bg(style="background-image:url('./img/photo-4.jpg');")
        div
          .row
            .col-lg-5.col-md-5.col-sm-12.col-xs-12
              .discounts__info
                h4 Спецпредложения
                h2 Скидка до 25% Омега 2 корпус С
                h5 на офисы 48-50 м2
                p
                  | Современный офисный комплекс класса B+ на территории Делового квартала
                  | «Симоновский»,
                  | расположенный в пределах Третьего транспортного кольца, в шаговой доступности от
                  | станции метро «Автозаводская».
                a.all-propose(href='#') Все спецпредложения
            .col-lg-7.col-md-7.hidden-sm.hidden-xs
              .discounts-for__bg(style="background-image:url('./img/photo-4.jpg');")
        div
          .row
            .col-lg-5.col-md-5.col-sm-12.col-xs-12
              .discounts__info
                h4 Спецпредложения
                h2 Скидка до 25% Омега 2 корпус С
                h5 на офисы 48-50 м2
                p
                  | Современный офисный комплекс класса B+ на территории Делового квартала
                  | «Симоновский»,
                  | расположенный в пределах Третьего транспортного кольца, в шаговой доступности от
                  | станции метро «Автозаводская».
                a.all-propose(href='#') Все спецпредложения
            .col-lg-7.col-md-7.hidden-sm.hidden-xs
              .discounts-for__bg(style="background-image:url('./img/photo-4.jpg');")
        div
          .row
            .col-lg-5.col-md-5.col-sm-12.col-xs-12
              .discounts__info
                h4 Спецпредложения
                h2 Скидка до 25% Омега 2 корпус С
                h5 на офисы 48-50 м2
                p
                  | Современный офисный комплекс класса B+ на территории Делового квартала
                  | «Симоновский»,
                  | расположенный в пределах Третьего транспортного кольца, в шаговой доступности от
                  | станции метро «Автозаводская».
                a.all-propose(href='#') Все спецпредложения
            .col-lg-7.col-md-7.hidden-sm.hidden-xs
              .discounts-for__bg(style="background-image:url('./img/photo-4.jpg');")
        div
          .row
            .col-lg-5.col-md-5.col-sm-12.col-xs-12
              .discounts__info
                h4 Спецпредложения
                h2 Скидка до 25% Омега 2 корпус С
                h5 на офисы 48-50 м2
                p
                  | Современный офисный комплекс класса B+ на территории Делового квартала
                  | «Симоновский»,
                  | расположенный в пределах Третьего транспортного кольца, в шаговой доступности от
                  | станции метро «Автозаводская».
                a.all-propose(href='#') Все спецпредложения
            .col-lg-7.col-md-7.hidden-sm.hidden-xs
              .discounts-for__bg(style="background-image:url('./img/photo-4.jpg');")
        div
          .row
            .col-lg-5.col-md-5.col-sm-12.col-xs-12
              .discounts__info
                h4 Спецпредложения
                h2 Скидка до 25% Омега 2 корпус С
                h5 на офисы 48-50 м2
                p
                  | Современный офисный комплекс класса B+ на территории Делового квартала
                  | «Симоновский»,
                  | расположенный в пределах Третьего транспортного кольца, в шаговой доступности от
                  | станции метро «Автозаводская».
                a.all-propose(href='#') Все спецпредложения
            .col-lg-7.col-md-7.hidden-sm.hidden-xs
              .discounts-for__bg(style="background-image:url('./img/photo-4.jpg');")
      .slider.discounts-nav
        div
          h3 5%
          p Деловой дом Родионовский
        div
          h3 25%
          p Бизнес-центр Слободской
        div
          h3 15%
          p Ленинская слобода, 26
        div
          h3 25%
          p Омега 2 корпус С
        div
          h3 15%
          p ЖК Переделкино ближнее
