// main banner
.slide_animated
  section.main-banner
    .row
      .col-lg-6
        .slider.main-banner__slider
          div
            img.main-banner__slider__bg(src='images/021_DK_Simon_009.jpg', alt='')
            .main-banner__info
              h1.main-banner__slider__title
                span 10
                |  лет на рынке
              h3 Профессиональная управляющая компания на рынке коммерческой недвижимости Москвы
          div
            img.main-banner__slider__bg(src='images/021_DK_Simon_009.jpg', alt='')
            .main-banner__info
              h1.main-banner__slider__title
                span 10
                |  лет на рынке
              h3 Профессиональная управляющая компания на рынке коммерческой недвижимости Москвы
          div
            img.main-banner__slider__bg(src='images/021_DK_Simon_009.jpg', alt='')
            .main-banner__info
              h1.main-banner__slider__title
                span 10
                |  лет на рынке
              h3 Профессиональная управляющая компания на рынке коммерческой недвижимости Москвы
          div
            img.main-banner__slider__bg(src='images/021_DK_Simon_009.jpg', alt='')
            .main-banner__info
              h1.main-banner__slider__title
                span 10
                |  лет на рынке
              h3 Профессиональная управляющая компания на рынке коммерческой недвижимости Москвы
          div
            img.main-banner__slider__bg(src='images/021_DK_Simon_009.jpg', alt='')
            .main-banner__info
              h1.main-banner__slider__title
                span 10
                |  лет на рынке
              h3 Профессиональная управляющая компания на рынке коммерческой недвижимости Москвы
      .col-lg-6
        .row
          .col-md-12
            .main-banner--show
              img.main-banner--show__fon(src='images/20160301-213611-3265.jpg', alt='')
              h6 АРЕНДА
              h1
                i.icon-offices_white
                | Бизнес-
                br
                |  центры
          .col-md-12
            .main-banner--show
              img.main-banner--show__fon(src='images/364_6640.jpg', alt='')
              h6 АРЕНДА
              h1
                i.icon-torgovye_ploshadi_white
                | Торговые
                br
                |  помещения
          .col-md-12
            .main-banner--show
              img.main-banner--show__fon(src='images/021_DK_Simon_006.jpg', alt='')
              h6 АРЕНДА
              h1
                i.icon-shops_white
                | Торговые
                br
                |  центры
