// map info
section.map-info.slide-2.active
  .row
    .col-lg-6.col-sm-6.col-md-6.col-xs-12.hidden-sm.hidden-xs
      .map-info--maps
        .pin-group
          i.icon-shops
          span 3
    .col-lg-6.col-sm-12.col-md-6.col-xs-12
      .slider.map-info--slider
        div
          .map-info__type
            .map-info__type__top
              .map-info__filters
                span.icon-offices
                .map-info__type--title Офисные помещения
              .map-info__filters
                span.icon-torgovye_ploshadi_white
                .map-info__type--title Street retail
              .map-info__filters
                span.icon-shops
                .map-info__type--title Торговые помещения
            h2 Мебельный центр Roomer
            p
              | Крупнейший мебельный центр в Москве, расположенный в пределах Третьего транспортного
              | кольца, в шаговой доступности от ст. м. Автозаводская. В мебельном центре ROOMER
              | представлен широчайший ассортимент мебели и предметов интерьера различных ценовых
              | категорий.
            .map-info__info-about
              .map-info__square
                | 86 000 м
                sup 2
              .mobile-map-info
                a.map-info__look(href='#')
                  span.icon-plan
                  | Смотреть
                  |                     планировку
                a.map-info__load-presentation(href='#')
                  span.icon-kartochka
                  | Скачать
                  |                     презентацию
            .flex__cell.hidden-sm.hidden-xs
              .flex__25.large-cell
                a.lightbox(href='images/photo.jpg')
                  img(src='images/photo.jpg', alt='Thumbnail 1')
              .small-cell
                .flex__25
                  a.lightbox(href='images/photo-2.jpg')
                    img(src='images/photo-2.jpg', alt='Thumbnail 2')
                .flex__25
                  a.lightbox(href='images/photo-3.jpg')
                    img(src='images/photo-3.jpg', alt='Thumbnail 3')
                .flex__25
                  a.lightbox(href='images/photo-4.jpg')
                    img(src='images/photo-4.jpg', alt='Thumbnail 3')
                .flex__25
                  a.lightbox(href='images/photo-5.jpg')
                    img(src='images/photo-5.jpg', alt='Thumbnail 3')
            .slider.photo-gallery.flex__cell.hidden-lg.hidden-md
              div
                a.lightbox(href='images/photo.jpg')
                  img(src='images/photo.jpg', alt='Thumbnail 1')
              div
                a.lightbox(href='images/photo-2.jpg')
                  img(src='images/photo-2.jpg', alt='Thumbnail 1')
              div
                a.lightbox(href='images/photo-3.jpg')
                  img(src='images/photo-3.jpg', alt='Thumbnail 1')
        div
          .map-info__type
            .map-info__type__top
              .map-info__filters
                span.icon-offices
                .map-info__type--title Офисные помещения
              .map-info__filters
                span.icon-torgovye_ploshadi_white
                .map-info__type--title Street retail
              .map-info__filters
                span.icon-shops
                .map-info__type--title Торговые помещения
            h2 Мебельный центр Roomer
            p
              | Крупнейший мебельный центр в Москве, расположенный в пределах Третьего транспортного
              | кольца, в шаговой доступности от ст. м. Автозаводская. В мебельном центре ROOMER
              | представлен широчайший ассортимент мебели и предметов интерьера различных ценовых
              | категорий.
            .map-info__info-about
              .map-info__square
                | 86 000 м
                sup 2
              .mobile-map-info
                a.map-info__look(href='#')
                  span.icon-plan
                  | Смотреть
                  |                     планировку
                a.map-info__load-presentation(href='#')
                  span.icon-kartochka
                  | Скачать
                  |                     презентацию
            .flex__cell.hidden-sm.hidden-xs
              .flex__25.large-cell
                a.lightbox(href='images/photo.jpg')
                  img(src='images/photo.jpg', alt='Thumbnail 1')
              .small-cell
                .flex__25
                  a.lightbox(href='images/photo-2.jpg')
                    img(src='images/photo-2.jpg', alt='Thumbnail 2')
                .flex__25
                  a.lightbox(href='images/photo-3.jpg')
                    img(src='images/photo-3.jpg', alt='Thumbnail 3')
                .flex__25
                  a.lightbox(href='images/photo-4.jpg')
                    img(src='images/photo-4.jpg', alt='Thumbnail 3')
                .flex__25
                  a.lightbox(href='images/photo-5.jpg')
                    img(src='images/photo-5.jpg', alt='Thumbnail 3')
            .slider.photo-gallery.flex__cell.hidden-lg.hidden-md
              div
                a.lightbox(href='images/photo.jpg')
                  img(src='images/photo.jpg', alt='Thumbnail 1')
              div
                a.lightbox(href='images/photo-2.jpg')
                  img(src='images/photo-2.jpg', alt='Thumbnail 1')
              div
                a.lightbox(href='images/photo-3.jpg')
                  img(src='images/photo-3.jpg', alt='Thumbnail 1')
