.news-list__filter
  .container
    .fixed-content
      .row
        .col-md-12.col-sm-12.col-xs-12
          .news-list__filter--cover
            ul
              li.active
                a(href='#') Все
              li
                a(href='#') Новости
              li
                a(href='#') События
              li
                a(href='#') Пресс-релизы
              li
                a(href='#') Статьи
            a.choose-year(href='#')
              img(src='img/arrows-menu.png', alt='')
              | 2016
.container
  .fixed-content
    section.news-list
      .news-list__body.wow.fadeInUp
        figure
          a(href='#')
            img(src='img/news-1.jpg', alt='')
        article
          .news-list__date 22 июня
          a.news-list__title(href='news.html') Деловой квартал «Симоновский» пополнился новым арендатором
          .news-list__description
            | Группа компаний TEL заключила с УК City&Malls PFM договор аренды
            | помещений в Деловом квартале «Симоновский» общей площадью 890 кв.м...
      .news-list__body.wow.fadeInUp(data-wow-delay='0.5s')
        figure
          a(href='#')
            img(src='img/news-2.jpg', alt='')
        article
          .news-list__date 18 июня
          a.news-list__title(href='news.html') Офисный рынок столицы расширяется
          .news-list__description
            | Группа компаний TEL заключила с УК City&Malls PFM договор аренды помещений в Деловом квартале «Симоновский» общей площадью 890 кв.м заключила с УК City&Malls PFM договор аренды
      .news-list__body.wow.fadeInUp(data-wow-delay='1s')
        figure
          a(href='#')
            img(src='img/events-3.jpg', alt='')
        article
          .news-list__date 16 июня
          a.news-list__title(href='news.html') Акция «ROOMER за отечественного производителя»
          .news-list__description
            | Группа компаний TEL заключила с УК City&Malls PFM договор аренды
            | помещений в Деловом квартале «Симоновский» общей площадью 890 кв.м...
      .news-list__body.wow.fadeInUp(data-wow-delay='1.5s')
        figure
          a(href='#')
            img(src='img/news-3.jpg', alt='')
        article
          .news-list__date 1 июня
          a.news-list__title(href='news.html') Деловой квартал «Симоновский»
          .news-list__description
            | Группа компаний TEL заключила с УК City&Malls PFM договор аренды
            | помещений в Деловом квартале «Симоновский» общей площадью 890 кв.м...
      .news-list__body.wow.fadeInUp
        figure
          a(href='#')
            img(src='img/news-4.jpg', alt='')
        article
          .news-list__date 23 мая
          a.news-list__title(href='news.html') Праздника красок ХОЛЛИ на территории Симоновского
          .news-list__description
            | Группа компаний TEL заключила с УК City&Malls PFM договор аренды
            | помещений в Деловом квартале «Симоновский» общей площадью 890 кв.м...
      .pagination
        ul
          li
            a.arrow.left(href='#')
              img(src='img/arrows-menu.png', alt='')
          li
            a(href='#') 1
          li
            a(href='#') 2
          li.active
            a(href='#') 3
          li
            a(href='#') ...
          li
            a(href='#') 10
          li
            a.arrow.right(href='#')
              img(src='img/arrows-menu.png', alt='')
