// news block
section.news
  .row
    .col-lg-5.col-md-5.col-sm-12.col-xs-12
      .slider.news-slider
        div
          .news-slider__info
            h4 События
            h2 Фестиваль красок в ROOMER
            p
              | Современный развивающийся деловой квартал Москвы, расположенный в Даниловском районе ЮАО
              | г.
              | Москвы. Современный развивающийся деловой квартал Москвы.
            h6 8 июля 2016
        div
          .news-slider__info
            h4 События
            h2 Фестиваль красок в ROOMER 2
            p
              | Современный развивающийся деловой квартал Москвы, расположенный в Даниловском районе ЮАО
              | г.
              | Москвы. Современный развивающийся деловой квартал Москвы.
            h6 8 июля 2016
        div
          .news-slider__info
            h4 События
            h2 Фестиваль красок в ROOMER 3
            p
              | Современный развивающийся деловой квартал Москвы, расположенный в Даниловском районе ЮАО
              | г.
              | Москвы. Современный развивающийся деловой квартал Москвы.
            h6 8 июля 2016
        div
          .news-slider__info
            h4 События
            h2 Фестиваль красок в ROOMER 4
            p
              | Современный развивающийся деловой квартал Москвы, расположенный в Даниловском районе ЮАО
              | г.
              | Москвы. Современный развивающийся деловой квартал Москвы.
            h6 8 июля 2016
    .col-lg-7.col-md-7.col-sm-12.col-12
      .news-article
        .news-article__fon(style="background-image:url('./img/photo-5.jpg');")
        .news-article__info
          h4 Пресс-релиз
          a.title(href='#') Новый корпус делового квартала Симоновский
          p
            | Современный развивающийся деловой квартал Москвы, расположенный
            | в Даниловском районе ЮАО г. Москвы. Современный развивающийся деловой. В Даниловском районе
            | ЮАО.
  .row
    .col-lg-12.slider.responsive.d-flex
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .small-news
          .small-news__fon(style="background-image:url('./img/events-1.jpg');")
          a.small-news__info(href='#')
            h4.date 22 июня
            h2.title Деловой квартал «Симоновский» пополнился новым арендатором
            p.description
              | Группа компаний TEL заключила с УК City&Malls PFM договор аренды
              | помещений в Деловом квартале ....
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .small-news
          .small-news__fon(style="background-image:url('./img/events-2.jpg');")
          a.small-news__info(href='#')
            h4.date 10 июня
            h2.title Офисный рынок столицы расширяется
            p.description
              | Группа компаний TEL заключила с УК City&Malls PFM договор аренды
              | помещений в Деловом квартале ....
      .col-lg-4.col-md-4.col-sm-4.col-xs-12
        .small-news
          .small-news__fon(style="background-image:url('./img/events-3.jpg');")
          a.small-news__info(href='#')
            h4.date 3 июня
            h2.title Акция «ROOMER за отечественного производителя»
            p.description
              | Группа компаний TEL заключила с УК City&Malls PFM договор аренды
              | помещений в Деловом квартале ....
  .news__link.d-none.d-md-flex
    a(href='#') Все новости
    a(href='#') Подписаться
