// seo text
section.seo-text.hidden-sm.hidden-xs
  .row
    .col-lg-4.col-md-4.col-sm-4.col-xs-12
      h2 Аренда коммерческой недвижимости в Москве
    .col-lg-8.col-md-8.col-sm-8.col-xs-23
      .seo-text__description
        .seo-text__description-cover(data-id='readMoreText1')
          p Компания City&Malls PFM предлагает в аренду более 500 000 м2 коммерческой недвижимости. В нашем управлении находятся объекты, расположенные в различных районах с высоким индексом деловой активности, хорошей транспортной доступностью, развитой инфраструктурой.
            br
            br
            | В базе компании представлены выгодные предложения по аренде торговых площадей, офисов и складов без комиссии. Заключая договор аренды нежилой недвижимости без посредников, вы не только оптимизируете свои расходы, но и получаете надежные гарантии юридической чистоты сделки. Наш портфель объектов позволяет подобрать оптимальное решение для бизнеса любого масштаба.
            br
            br
            | В бизнес-центрах, бизнес-парках и многофункциональных комплексах City&Malls PFM предоставляется аренда помещений под офис площадью от 10 м2 до нескольких тысяч квадратных метров. Вы можете снять коммерческую недвижимость, полностью соответствующую требованиям компании к местоположению, типу планировки, отделке, наличию паркинга. Кроме того, мы предоставляем полный комплекс услуг по эксплуатации зданий. Аренда помещений от собственника в одном из объектов под управлением City&Malls PFM обеспечивает максимальную защиту от технических сбоев, которые могли бы негативно отразиться на деятельности компании. Чтобы снять помещение под склад, офис или подобрать помещение в сегменте street retail в аренду, направьте заявку с сайта или позвоните по телефону: Наш телефон. Наши специалисты будут рады ответить на ваши вопросы и подобрать помещение, максимально соответствующее запросам вашего бизнеса.
        .seo-text__shadow
        span.seo-text__all-text(data-link='readMoreText1', data-closetitle='Скрыть') Весь текст
