.fixed-content
  section.company-services.company--top
    .row
      .col-md-3.col-sm-3.col-xs-12
        .company__title
          h1 Услуги компании
      .col-md-9.col-sm-9.col-xs-12
        .company-services__info
          .company-services__title
            i.icon-1
            | Коммерческое
            br
            |  управление
          .row
            .col-md-7.col-sm-7.col-xs-12
              p.company-services__description
                | City&Malls PFM осуществляет широкий спектр услуг по поддержанию
                | жизнедеятельности объектов - от обеспечения работы охранных и клининговых служб до разработки и
                | применения на объекте эффективной программы энергосбережения.
        #accordion.panel-group
          .panel.panel-default
            .panel-heading
              h4.panel-title.expand(data-toggle='collapse', data-parent='#accordion', href='#collapse1')
                a(href='#') Административная деятельность
                .show-description
            #collapse1.panel-collapse.collapse
              .panel-body
                ul
                  li Управленческий, бухгалтерский и налоговый учет;
                  li
                    | Комплексное ведение арендных отношений, включая полное юридическое сопровождение договоров
                    | аренды;
                  li Контроль исполнения всех бизнес-процессов;
                  li Увеличение доходности объектов;
                  li Увеличение инвестиционной привлекательности объектов;
                  li Оптимизация бюджетов;
                  li Управление рисками;
                  li Претензионная работа;
                  li Страхование объекта.
          .panel.panel-default
            .panel-heading
              h4.panel-title.expand(data-toggle='collapse', data-parent='#accordion', href='#collapse2')
                a(href='#') Брокеридж
                .show-description
            #collapse2.panel-collapse.collapse
              .panel-body
                ul
                  li Управленческий, бухгалтерский и налоговый учет;
                  li
                    | Комплексное ведение арендных отношений, включая полное юридическое сопровождение договоров
                    | аренды;
                  li Контроль исполнения всех бизнес-процессов;
                  li Увеличение доходности объектов;
                  li Увеличение инвестиционной привлекательности объектов;
                  li Оптимизация бюджетов;
                  li Управление рисками;
                  li Претензионная работа;
                  li Страхование объекта.
          .panel.panel-default
            .panel-heading
              h4.panel-title.expand(data-toggle='collapse', data-parent='#accordion', href='#collapse3')
                a(href='#') Маркетинг
                .show-description
            #collapse3.panel-collapse.collapse
              .panel-body
                ul
                  li Управленческий, бухгалтерский и налоговый учет;
                  li
                    | Комплексное ведение арендных отношений, включая полное юридическое сопровождение договоров
                    | аренды;
                  li Контроль исполнения всех бизнес-процессов;
                  li Увеличение доходности объектов;
                  li Увеличение инвестиционной привлекательности объектов;
                  li Оптимизация бюджетов;
                  li Управление рисками;
                  li Претензионная работа;
                  li Страхование объекта.
        .company-services__info
          .company-services__title
            i.icon-domik
            | Эксплуатация
            br
            |  и обслуживание
          .row
            .col-md-7.col-sm-7.col-xs-12
              p.company-services__description
                | City&Malls PFM осуществляет широкий спектр услуг по поддержанию
                | жизнедеятельности объектов - от обеспечения работы охранных и клининговых служб до разработки и
                | применения на объекте эффективной программы энергосбережения.
        #operation-maintenance.panel-group
          .panel.panel-default
            .panel-heading
              h4.panel-title.expand(data-toggle='collapse', data-parent='#operation-maintenance', href='#exploitation')
                a(href='#') Эксплуатация
                .show-description
            #exploitation.panel-collapse.collapse
              .panel-body
                ul
                  li Управленческий, бухгалтерский и налоговый учет;
                  li
                    | Комплексное ведение арендных отношений, включая полное юридическое сопровождение договоров
                    | аренды;
                  li Контроль исполнения всех бизнес-процессов;
                  li Увеличение доходности объектов;
                  li Увеличение инвестиционной привлекательности объектов;
                  li Оптимизация бюджетов;
                  li Управление рисками;
                  li Претензионная работа;
                  li Страхование объекта.
          .panel.panel-default
            .panel-heading
              h4.panel-title.expand(data-toggle='collapse', data-parent='#operation-maintenance', href='#teh-support')
                a(href='#') Инженеpно-техническое обслуживание
                .show-description
            #teh-support.panel-collapse.collapse
              .panel-body
                ul
                  li Управленческий, бухгалтерский и налоговый учет;
                  li
                    | Комплексное ведение арендных отношений, включая полное юридическое сопровождение договоров
                    | аренды;
                  li Контроль исполнения всех бизнес-процессов;
                  li Увеличение доходности объектов;
                  li Увеличение инвестиционной привлекательности объектов;
                  li Оптимизация бюджетов;
                  li Управление рисками;
                  li Претензионная работа;
                  li Страхование объекта.
          .panel.panel-default
            .panel-heading
              h4.panel-title.expand(data-toggle='collapse', data-parent='#operation-maintenance', href='#preventive-maintenance')
                a(href='#') Планово-предупредительное обслуживание
                .show-description
            #preventive-maintenance.panel-collapse.collapse
              .panel-body
                ul
                  li Управленческий, бухгалтерский и налоговый учет;
                  li
                    | Комплексное ведение арендных отношений, включая полное юридическое сопровождение договоров
                    | аренды;
                  li Контроль исполнения всех бизнес-процессов;
                  li Увеличение доходности объектов;
                  li Увеличение инвестиционной привлекательности объектов;
                  li Оптимизация бюджетов;
                  li Управление рисками;
                  li Претензионная работа;
                  li Страхование объекта.
          .panel.panel-default
            .panel-heading
              h4.panel-title.expand(data-toggle='collapse', data-parent='#operation-maintenance' href='#complex-diagnostics')
                a(href='#') Комплексная диагностика инженерной инфраструктуры
                .show-description
            #complex-diagnostics.panel-collapse.collapse
              .panel-body
                ul
                  li Управленческий, бухгалтерский и налоговый учет;
                  li
                    | Комплексное ведение арендных отношений, включая полное юридическое сопровождение договоров
                    | аренды;
                  li Контроль исполнения всех бизнес-процессов;
                  li Увеличение доходности объектов;
                  li Увеличение инвестиционной привлекательности объектов;
                  li Оптимизация бюджетов;
                  li Управление рисками;
                  li Претензионная работа;
                  li Страхование объекта.
