.fixed-content
  section.company--top
    .row
      .col-md-3.col-sm-3.col-xs-12
        .company__title
          h1 Команда
      .col-md-9.col-sm-9.col-xs-12
        .row
          .col-md-7.col-sm-7.col-xs-12
            .company__description
              p
                | Команда City&Malls PFM – это сплочённый коллектив высококлассных профессионалов,
                | каждый из которых
                | имеет многолетний опыт работы на рынке коммерческой недвижимости.
  section.employers
    .row
      .col-md-12
        .employers__position Топ-менеджеры
        .employers__items
          .head-position
            .employers__item
              img.employers__avatar(src='images/avatar-1.jpg', alt='')
              .employers__item--info
                .employers__item--info__name Давид Мурадханян
                .employers__item--info__position Технический директор
          .other-positions
            .employers__item
              img.employers__avatar(src='images/avatar-1.jpg', alt='')
              .employers__item--info
                .employers__item--info__name Давид Мурадханян
                .employers__item--info__position Технический директор
            .employers__item
              img.employers__avatar(src='images/avatar-1.jpg', alt='')
              .employers__item--info
                .employers__item--info__name Давид Мурадханян
                .employers__item--info__position Технический директор
            .employers__item
              img.employers__avatar(src='images/avatar-1.jpg', alt='')
              .employers__item--info
                .employers__item--info__name Давид Мурадханян
                .employers__item--info__position Технический директор
            .employers__item
              img.employers__avatar(src='images/avatar-1.jpg', alt='')
              .employers__item--info
                .employers__item--info__name Давид Мурадханян
                .employers__item--info__position Технический директор
            .employers__item
              img.employers__avatar(src='images/avatar-1.jpg', alt='')
              .employers__item--info
                .employers__item--info__name Давид Мурадханян
                .employers__item--info__position Технический директор
            .employers__item
              img.employers__avatar(src='images/avatar-1.jpg', alt='')
              .employers__item--info
                .employers__item--info__name Давид Мурадханян
                .employers__item--info__position Технический директор
            .employers__item
              img.employers__avatar(src='images/avatar-1.jpg', alt='')
              .employers__item--info
                .employers__item--info__name Давид Мурадханян
                .employers__item--info__position Технический директор
