extends ../extends/layout
block variables
  - var title = "Company page - City Mall"

block content
  .privacy-policy__fon
    .container
      .fixed-bg
      include ../includes/header
      include ../sections/compamy-info

  include ../includes/footer