extends ../extends/layout
block variables
  - var title = "Company page - City Mall"

block content
  .privacy-policy__fon
    .fixed-header
      .fixed-bg
      include ../includes/header-full
    .container
      include ../sections/contacts-info

  include ../includes/footer