extends ../extends/layout
block variables
  - var title = "Error page - City Mall"

block content
  .fixed-header
    .page
      .fixed-bg
      include ../includes/header-full

      include ../includes/footer