extends ../extends/layout
block variables
  - var title = "Object single page - City Mall"

block content
  .full-width
    .container
      .fixed-bg
      include ../includes/header
      include ../sections/object-item
    include ../includes/footer