extends ../extends/layout
block variables
  - var title = "Recovery page - City Mall"

block content
  .full-width
    .privacy-policy__fon
      .container
        .fixed-bg
        include ../includes/header
        include ../sections/recovery-item
    include ../includes/footer