extends ../extends/layout
block variables
  - var title = "Services page - City Mall"

block content
  .full-width
    .privacy-policy__fon
      .container
        .fixed-bg
        include ../includes/header
        include ../sections/services-items

    include ../includes/footer