extends ../extends/layout
block variables
  - var title = "Tenders page - City Mall"

block content
  .full-width
    .privacy-policy__fon
      .container
        .fixed-bg
        include ../includes/header
        .fixed-content
          section.company--top
            .row
              .col-md-3.col-sm-3.col-xs-12
                .company__title
                  h1 Тендеры
              .col-md-9.col-sm-9.col-xs-12
                .company__title.tenders
                  h3 Уважаемые партнеры!
                    br
                    br
                    |                Наша компания уделяет большое внимание организации эффективного процесса закупок, целью которого
                    |                является не только снижение затрат, но и формирование долгосрочных взаимовыгодных отношений с нашими
                    |                контрагентами.
                  h5
                    | Мы постоянно совершенствуем процесс закупки, уделяя особое внимание качеству взаимодействия с нашими
                    | подрядчиками и поставщиками. Выбор контрагентов осуществляется на основе единого регламента,
                    | обеспечивающего создание равных, справедливых условия для всех участников тендерных процедур.
                    br
                    br
                    |                Если вы хотите узнать об актуальных закупочных процедурах, планируемых проектах, задать вопросы и
                    |                принять участие в улучшении качества закупок, перейдите на сайт тендерной площадки.
                  h2 Будем рады видеть вас в числе наших партнеров!
                  .tenders__btn-cover
                    a.tenders__btn(href='#') Тендерная площадка

    include ../includes/footer