/* scroll to top*/
.to-top {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: $secondary;
  position: fixed;
  right: 0;
  bottom: 50%;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s 0s, visibility 0s, 0.3s;
  svg {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    transform: translateX(-50%) translateY(-50%);
    height: 16px;
    width: 16px;
    fill: rgba(255, 255, 255, 0.8);
  }
  &.is-visible, &.fade-out {
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }
  &.is-visible {
    visibility: visible;
  }
  &.fade-out {
    opacity: 0.8;
  }
  &:hover {
    background: $secondary;
    opacity: 1;
    color: $default;
  }
}

.no-touch .to-top:hover {
  transition: opacity 0.3s 0s, visibility 0s 0s;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 1;
}

@media only screen and (min-width: 800px) {
  .to-top {
    position: fixed;
  }
}

@media only screen and (min-width: 1170px) {
  .to-top {
    position: fixed;
  }
}

/* footer */
.footer {
  max-width: 1120px;
  margin: 0 auto;
  padding: 40px 0;
  ul {
    margin-top: 8px;
    li {
      padding-bottom: 15px;
      line-height: normal;
      a {
        color: #572642;
        font-size: 14px;
        line-height: 16px;
        font-family: $font-light;
        &:hover {
          text-decoration: underline;
        }
        &.selected {
          font-family: $font-bold;
        }
        &.personal-office {
          margin-top: 50px;
          display: flex;
        }
      }
    }
  }
  .mobile-reverse {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
  .contact-info {
    display: flex;
    flex-direction: column;
    div {
      justify-content: flex-end;
      display: flex;
    }
    .contact-phone {
      color: $primary;
      font-size: 18px;
      font-family: $font;
      padding-bottom: 85px;
      line-height: 35px;
    }
    .add-to-favorites {
      font-size: 14px;
      color: #572642;
      font-family: $font;
      align-items: center;
      display: flex;
      justify-content: flex-end;
      margin-bottom: 21px;
      i {
        font-size: 19px;
        display: flex;
        padding-right: 10px;
      }
      &:hover {
        text-decoration: none;
        span {
          text-decoration: underline;
        }
      }
    }
    .cost-renting {
      font-size: 14px;
      line-height: 18px;
      font-family: $font;
      color: $main;
      text-align: right;
      width: 130px;
      margin: 0 0 0 auto;
    }
  }
  .contact-form {
    min-height: 265px;
    margin-bottom: 10px;
    margin-top: 0;
    &__link {
      border-bottom: 1px solid transparent;
      margin: 0;
      li {
        padding-bottom: 15px;
        &.active {
          a {
            border: 1px solid transparent !important;
            background-color: rgba(87, 38, 66, 0.2) !important;
            span {
              border-bottom: 1px dotted transparent !important;
            }
          }
          &:hover, &:active {
            a {
              cursor: pointer;
              border: 1px solid transparent !important;
              background-color: rgba(87, 38, 66, 0.2) !important;
            }
          }
        }
        a {
          display: flex;
          align-items: flex-start;
          font-size: 14px;
          height: 35px;
          color: #572642 !important;
          border-radius: 0;
          font-family: $font-light;
          border: 1px solid transparent !important;
          transition: all 0.3s ease;
          padding-left: 9px;
          padding-right: 9px;
          i {
            display: flex;
            font-size: 15px;
            padding-right: 10px;
          }
          span {
            display: flex;
            border-bottom: 1px dotted #572642;
          }
          &:hover {
            background-color: transparent;
            text-decoration: none;
            border: 1px solid transparent !important;
            span {
              border-bottom: 1px dotted transparent;
            }
          }
        }
      }
    }
    .form-inline {
      display: flex;
      align-items: baseline;
      &.error {
        .form-control {
          border-bottom: 1px solid #dc3818;
        }
      }
    }
    label {
      font-weight: normal;
      font-size: 14px;
      font-family: $font;
      color: $primary;
    }
    .form-control {
      width: 100%;
      padding: 0;
      resize: none;
      border-radius: 0;
      border: none;
      border-bottom: 1px solid #c3c0c1;
      box-shadow: none;
      font-size: 12px;
      line-height: normal;
      margin-top: 15px;
      font-family: $font;
      color: $primary;
    }
    &--btn {
      color: $default;
      padding: 0 15px;
      border-radius: 0;
      background-color: $main;
      display: flex;
      height: 30px;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      font-family: $font;
      margin-top: 25px;
      margin-bottom: 40px;
      transition: all 0.3s ease;
      &:hover {
        box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.15);
        color: $default;
      }
    }
  }
  .copyright {
    border-top: 1px solid rgba(55, 45, 49, 0.2);
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    flex-wrap: wrap;
    align-items: center;
    &__info {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      .footer-logo {
        width: 187px;
        height: 64px;
        margin-right: 65px;
      }
    }
    .developers {
      a {
        display: flex;
        align-items: center;
        font-size: 14px;
        color: $primary;
        font-family: $font;
        line-height: 16px;
        span {
          display: flex;
          width: 85px;
        }
        img {
          margin-left: 18px;
          display: flex;
          width: 60px;
          height: 34px;
        }
      }
    }
    &-text {
      width: 170px;
      font-size: 14px;
      line-height: 20px;
      color: $primary;
      font-family: $font-light;
    }
  }
}
