extends ./extends/layout
block variables
  - var title = "City Mall"

block content
  .container
    .fixed-bg
    include ./includes/header
    include ./sections/main-banner
    include ./sections/map-info
    include ./sections/discount
    include ./sections/news
    include ./sections/seo

    include ./includes/footer