/* fonts */
$font-title: 'PFBeauSansPro-Regular';
$font-title-light: 'PFBeauSansPro-Light';
$font-title-semi-bold: 'PFBeauSansPro-SemiBold';
$font-title-bold: 'PFBeauSansPro-Bold';
$font-title-bbold: 'PFBeauSansPro-Bbook';

$font: 'ProximaNova-Regular', sans-serif;
$font-light: 'ProximaNova-Light', sans-serif;
$font-bold: 'ProximaNova-Bold', sans-serif;

/* font sizes*/
$size_smaller_font: 10px;
$size_small_font: 12px;
$size_main_font: 14px;
$size_link_font: 24px;
$size_title_font: 20px;
$size_title_description_font: 30px;
$size_title_big_font: 36px;

/* color */
$default: #ffffff;
$main: #7ac143;
$secondary: #5d2842;
$primary: #372d31;
$dark: #000000;
$pompadour: #572642;
$prim: #d7d5d6;
$dimgray: #6B6B6B;
$finn: #693c56;
$nero: #232323;
$snow: #f9f9f9;
$cloudy: #b2afa8;
$sulu: #adff6c;
$crimson: #de1a33;
$shamrock: #029a55;
$pacific: #019ee0;
$grey: #808080;
$white: #FEFEFE;